version: '3.8'

services:
  db:
    image: postgres:17.4
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "logicore" ]
      interval: 1s
      timeout: 5s
      retries: 10
    environment:
      - POSTGRES_USER=logicore
      - POSTGRES_PASSWORD=logicore
      - POSTGRES_DB=logicore
    expose:
      - 5438
    ports:
      - 5438:5432
  redis:
    image: redis/redis-stack:latest
    ports:
      - "6388:6379"
    volumes:
      - ./redis_data:/data
