.jsonmatcher-editor {
  font-family: "Monaco", monospace;
  font-size: 1.75rem;
  line-height: 2.5rem;
  white-space: pre;
  input.form-control {
    border: 0;
    padding: 0;
    margin: 0;
    height: 1em;
    min-height: auto;
    font-size: 1em;
    line-height: 1em;
    display: inline;
    width: auto;
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
}
