$s: 0.75rem;
.lc-adt-editor {
  position: relative;
  height: 100%;
  font-family: "Monaco", monospace;
  font-size: $s;
  line-height: 1.5 * $s;
  white-space: pre;
  a {
    text-decoration: none;
  }
  &-card {
    box-shadow: 0 0 2px 2px #ccc;
    margin-right: -4px;
    display: inline-block;
    padding: 0.375rem 0.25rem 0.25rem;
    border-radius: 0.25rem;
    &-title {
      font-weight: 700;
      margin-bottom: 0.125rem;
      padding-bottom: 0.125rem;
      border-bottom: 1px solid gray;
    }
  }
  &-wrapper {
    position: absolute;
    $p: 0.25rem;
    top: $p;
    left: $p;
    right: $p;
    bottom: $p;
    overflow: scroll;
  }
}
