$s: 0.75rem;
.jsonmatcher-editor {
  font-family: "Monaco", monospace;
  font-size: $s;
  line-height: 1.5 * $s;
  white-space: pre;
  input.form-control {
    border: 0;
    padding: 0;
    margin: 0;
    height: 1em;
    min-height: auto;
    font-size: 1em;
    line-height: 1em;
    display: inline;
    width: auto;
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
}
.adt-editor {
  &-card {
    box-shadow: 0 0 3px 3px #ccc;
    margin-right: -4px;
    display: inline-block;
    padding: 0.25rem;
    border-radius: 0.25rem;
    &-title {
      font-weight: 700;
      margin-bottom: 0.125rem;
      padding-bottom: 0.125rem;
      border-bottom: 1px solid gray;
    }
  }
}
