//@import "bootstrap";
@import "bootstrap/scss/bootstrap.scss";


.react-flow__node-ColorSelectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.react-flow__node-StringNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.react-flow__node-Head {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: navy;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.react-flow__node-Literal {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}


// file browser

.horizontal-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.horizontal-view__child {
}

.horizontal-view__rest {
  flex: 1;
}

.perspective {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  &__side {
    //border: 1px solid var(--bs-gray);
    flex: 1;
    overflow: hidden;
    display: flex; flex-direction: column;
  }
  &__content {
    @extend .form-control;
    overflow-y: auto;
    flex: 1;
  }
  &__sep {
    //border: 1px solid var(--bs-gray);
    background: var(--bs-gray-100);
    width: 0.25rem;
    cursor: col-resize;
  }
  // inside
  &__files {
  }
  &__file {
    display: flex;
    @extend .py-1;
    @extend .px-2;
    @extend .text-dark;
    cursor: pointer;
    &:hover {
      @extend .bg-success;
      @extend .bg-opacity-25;
    }
    &--selected {
      @extend .bg-opacity-100;
      &, &:hover {
        @extend .bg-success;
        @extend .text-white;
      }
      &:hover {
        @extend .bg-opacity-100;
      }
    }
    &-icon {
      @extend .me-1;
    }
    &-field {
    
    }
  }
  &__code {
    font-family: var(--bs-font-monospace);
    white-space: nowrap;
  }
}

.code-search {
  &.is-error textarea.form-control {
    color: var(--bs-danger);
  }
  & > div {
    display: flex; flex-direction: column;
    .my-1 {
      flex: 1;
      display: flex; flex-direction: column;
      .form-control {
        flex: 1;
      }
      div.form-control {
        overflow-y: auto;
        overflow-x: auto;
      }
    }
  }
  textarea.form-control {
    font-family: var(--bs-font-monospace);
    white-space: pre-wrap;
    //position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }
}

#python_01_explorer_code {
  cursor: text;
  resize: vertical;
  unicode-bidi: normal;
  white-space-collapse: preserve;
  min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
}


.code-textarea::selection {
  background-color: rgba(10, 83, 190, 0.2);
}
//-webkit- (Chrome, Safari, newer versions of Opera):
.code-textarea::-webkit-scrollbar { width: 0 !important }
//-moz- (Firefox):
.code-textarea { overflow: -moz-scrollbars-none; }
//-ms- (Internet Explorer +10):
.code-textarea { -ms-overflow-style: none; }

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.caret {
  animation: blink 0.75s step-start 0s infinite;
}

.btn-no-hover:hover, .btn-no-hover:focus, .btn-no-hover:active {
  background-color: white;
  color: $primary;
  &.btn-primary {
    color: white;
    background-color: $primary;
  }
}