<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>...</title>
  </head>
  <body>
    <h1>Loading...</h1>
    <script>
      if (window.localStorage.getItem('FLAG_1')) {
        window.localStorage.deleteItem('FLAG_1');
      } else {
        window.localStorage.setItem('FLAG_1', 'yes');
        function popupWindow(url, title, w, h) {
          var left = (screen.width/2)-(w/2);
          var top = (screen.height/2)-(h/2);
          return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
        }
        function openTheChat() {
          popupWindow('https://my.textback.io/messaging.html#!/messaging/all/68988530', null, 900, 500);
          setTimeout(function() {
            window.parent.postMessage(JSON.stringify({"action": "DONE"}), "*");
          }, 5000); // test
        }
        openTheChat();
      }
    </script>
  </body>
</html>
